<div class="d-flex justify-content-center align-items-center  py-5 bg-light">
  <div class="card shadow p-4 w-100" style="max-width: 500px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Registro de Usuario</h3>

      <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Identificación</label>
          <input class="form-control" formControlName="num_identificacion" placeholder="Identificación">
        </div>

        <div class="mb-3">
          <label class="form-label">Primer Nombre</label>
          <input class="form-control" formControlName="primer_nombre" placeholder="Primer Nombre">
        </div>

        <div class="mb-3">
          <label class="form-label">Segundo Nombre</label>
          <input class="form-control" formControlName="segundo_nombre" placeholder="Segundo Nombre">
        </div>

        <div class="mb-3">
          <label class="form-label">Primer Apellido</label>
          <input class="form-control" formControlName="primer_apellido" placeholder="Primer Apellido">
        </div>

        <div class="mb-3">
          <label class="form-label">Segundo Apellido</label>
          <input class="form-control" formControlName="segundo_apellido" placeholder="Segundo Apellido">
        </div>

        <div class="mb-3">
          <label class="form-label">Fecha de Nacimiento</label>
          <input type="date" class="form-control" formControlName="fecha_nacimiento">
        </div>

        <div class="mb-3">
          <label class="form-label">Género</label>
          <select class="form-select" formControlName="genero">
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Departamento</label>
          <input class="form-control" formControlName="departamento" placeholder="Departamento">
        </div>

        <div class="mb-3">
          <label class="form-label">Dirección</label>
          <input class="form-control" formControlName="direccion" placeholder="Dirección">
        </div>

        <div class="mb-3">
          <label class="form-label">Fecha de Ingreso</label>
          <input type="date" class="form-control" formControlName="fecha_ingreso">
        </div>

        <div class="mb-3">
          <label class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" formControlName="correo" placeholder="Correo electrónico">
        </div>

        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input type="password" class="form-control" formControlName="clave" placeholder="Contraseña">
        </div>

        <div class="mb-4">
          <label class="form-label">Tipo de Usuario</label>
          <select class="form-select" formControlName="tipo_usuario">
            <option value="" disabled selected>Selecciona un tipo</option>
            <option value="ALUMNO">Alumno</option>
            <option value="PROFESOR">Profesor</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary w-100">Registrarse</button>
      </form>

      <div class="text-center mt-3">
        <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
      </div>
    </div>
  </div>
</div>

<app-modal [visible]="mostrarModal" [title]="'Datos adicionales'" (close)="cerrarModal()"
  (accept)="guardarDatosProfesor(registroForm.get('tipo_usuario')?.value === 'PROFESOR')">

  <!-- Aquí va el contenido del modal -->
  <div *ngIf="registroForm.get('tipo_usuario')?.value === 'PROFESOR'">
    <!-- Campos para profesor -->
    <label for="nivel">Nivel de Estudios</label>
    <select class="form-select" [(ngModel)]="nivelEstudios" id="nivel">
      <option>POSTGRADO</option>
      <option>PREGRADO</option>
      <option>MAESTRÍA</option>
      <option>DOCTORADO</option>
    </select>

    <label for="contrato">Tipo de Contrato</label>
    <select class="form-select" [(ngModel)]="tipoContrato" id="contrato">
      <option>CATEDRATICO</option>
      <option>PLANTA</option>
    </select>
  </div>

  <div *ngIf="registroForm.get('tipo_usuario')?.value === 'ALUMNO'">
    <!-- Campo para alumno -->
    <label for="programa">Programa Academico</label>
    <select class="form-select" [(ngModel)]="programaAcademico" id="programa">
      <option value="">Seleccione un programa</option>
      <option value="SISTEMAS">SISTEMAS</option>
      <option value="ELECTRÓNICA">ELECTRÓNICA</option>
      <option value="MECÁNICA">MECÁNICA</option>
      <option value="ADMINISTRACIÓN">ADMINISTRACIÓN</option>
      <option value="CONTADURÍA">CONTADURÍA</option>
      <option value="ENFERMERÍA">ENFERMERÍA</option>
      <option value="DERECHO">DERECHO</option>
      <option value="INGENIERÍA CIVIL">INGENIERÍA CIVIL</option>
      <option value="ARQUITECTURA">ARQUITECTURA</option>
      <option value="PEDAGOGÍA">PEDAGOGÍA</option>
      <option value="PSICOLOGÍA">PSICOLOGÍA</option>
      <option value="AGRONOMÍA">AGRONOMÍA</option>
      <option value="BIOLOGÍA">BIOLOGÍA</option>
    </select>
  </div>

</app-modal>