<app-nav-bar [tipoUsuario]="'PROFESOR'"></app-nav-bar>

<div class="container mt-4">
    <h2 class="mb-4 text-center">Agregar Pregunta</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <!-- Columna izquierda -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Contenido:</label>
                    <textarea class="form-control" rows="3" formControlName="contenido"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">Justificación:</label>
                    <textarea class="form-control" rows="2" formControlName="justificacion"></textarea>
                </div>

        

                <div class="mb-3">
                    <label class="form-label">Porcentaje:</label>
                    <input type="number" class="form-control" formControlName="porcentaje" />
                </div>



                <div class="mb-3">
                    <label class="form-label">Tiempo de respuesta (segundos):</label>
                    <input type="number" class="form-control" formControlName="tiempo_respuesta" />
                </div>
            </div>

            <!-- Columna derecha -->
            <div class="col-md-6">
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" formControlName="requiereRevision"
                        id="revisionCheck" />
                    <label class="form-check-label" for="revisionCheck">¿Requiere revisión?</label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" formControlName="esPublica" id="publicaCheck" />
                    <label class="form-check-label" for="publicaCheck">¿Es pública?</label>
                </div>

                <div class="mb-3">
                    <label class="form-label">Tema:</label>
                    <select formControlName="tema_id_tema" class="form-control">
                        <option *ngFor="let dif of temas" [value]="dif.ID_TEMA">
                            {{ dif.NOMBRE }}
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Dificultad:</label>
                    <select formControlName="tipo_dificultad_id_dificultad" class="form-control">
                        <option *ngFor="let dif of dificultades" [value]="dif.ID_DIFICULTAD">
                            {{ dif.NOMBRE }}
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Tipo de Pregunta:</label>
                    <select formControlName="tipo_pregunta_id_tipo_pregunta" class="form-control">
                        <option *ngFor="let dif of tiposPregunta" [value]="dif.ID_TIPO_PREGUNTA">
                            {{ dif.NOMBRE }}
                        </option>
                    </select>
                </div>

                <div class="d-flex justify-content-end gap-2 mt-3">
                    
                    <button type="submit" class="btn btn-primary">Registrar respuesta</button>
                </div>
            </div>

        </div>
    </form>
</div>